SmartQueue.BLL/Service References/IoT.CoffeeMachine/CoffeeMachine1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartCoffeeMachine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartCoffeeMachine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoffeeMachineAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoffeeMachineId" type="xs:long" />
      <xs:element minOccurs="0" name="Drink" type="tns:DrinkType" />
      <xs:element minOccurs="0" name="Size" type="tns:Size" />
      <xs:element minOccurs="0" name="Sugar" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:simpleType name="DrinkType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Coffee" />
      <xs:enumeration value="Tea" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DrinkType" nillable="true" type="tns:DrinkType" />
  <xs:simpleType name="Size">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Smalle" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="Large" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Size" nillable="true" type="tns:Size" />
  <xs:complexType name="QueueItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="SecondsToEnd" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueItem" nillable="true" type="tns:QueueItem" />
</xs:schema>