SmartQueue.BLL/Service References/IoT.CoffeeMachine/CoffeeMachine2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12294/CoffeeMachine.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmartCoffeeMachine" />
  <xs:element name="MakeDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmartCoffeeMachine" minOccurs="0" name="order" nillable="true" type="q1:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeDrinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WaitFor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coffeeMachineId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WaitForResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmartCoffeeMachine" minOccurs="0" name="WaitForResult" nillable="true" type="q2:QueueItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>